.divButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
}

.buttonMenu {
  background-color: #cd9452;
  color: white;
  padding: 1.2em 2.3em;
  margin: 2em;
  font-weight: bold;
}
.buttonMenu:hover {
  background-color: white;
  color: #cd9452;
  border: 2px solid #cd9452;
  cursor: pointer;
}
